/* Material Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* gphotos-sync.css */

* {
  outline: none;
  box-sizing: border-box !important;
}

#add {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  z-index: 900;
}

.mdl-layout__content {
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  padding: 15px;
}

.log.mdl-card {
  width: 100%;
}

.mdl-card__title {
  color: #fff;
  background-color: gray;
}

.log > .mdl-card__supporting-text {
  height: 176px;
}

.lib.mdl-card {
  width: 365px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.lib > .mdl-card__supporting-text {
  height: 96px;
}

.mdl-card__menu {
  color: #fff;
}

dialog {
  min-width: 90% !important;
  height: 90% !important;
  overflow: hidden;
}

.mdl-dialog__content {
  height: auto !important;
  max-height: 100% !important;
  overflow: scroll;
}

tt {
  display: block;
  width: 100%;
}
